<link href="/css/header.css" rel="stylesheet">
<header class="header">
    <div class="header-body" style="display: flex;">
        <h1 class="me-auto"><a th:href="@{/kuchannel/mypage}" class="a-tag">口ゃんねる(口コミ)</a></h1>

        <div class="header-icon">
        <a th:href="@{/kuchannel/notice}"><img src="/images/bell.png" alt="通知" style="width: 50px; height: 50px; margin-top: 20px;"></a>
        <p @click="toggleMenu" style="margin: 0 10px; cursor: pointer;"><img :src="'data:image/png;base64,' + userImage" style="width: 50px; height: 50px;"></p>

        <ul v-if="showMenu"  class="header-ul">
            <li><a class="border-bottom" th:href="@{/kuchannel/mypage}">マイページへ</a></li>
           <li><a class="border-bottom" th:href="@{/kuchannel/profile-details}">プロフィール閲覧</a></li>
            <li><a class="border-bottom" th:href="@{/kuchannel/logout}">ログアウト</a></li>
        </ul>
        </div>
    </div>

</header>