<header>
    <div style="display: flex;">
        <h1 class="me-auto"><a th:href="@{/mypage}" class="a-tag">口ゃんねる(口コミ)</a></h1>
        <a th:href="@{/notice}"><img src="/image/bell.png" alt="通知" style="width: 50px; height: 50px;"></a>
        <p @click="toggleMenu">アイコン</p>
        <ul v-if="showMenu">
            <li><a th:href="@{/mypage}">マイページへ</a></li>
<!--            <li><a th:href="#">プロフィール閲覧</a></li>-->
            <li><a th:href="@{/logout}">ログアウト</a></li>
        </ul>
    </div>

</header>