@charset "UTF-8";

body {
    background-image: url(../images/background.png);
    background-attachment: fixed;
    background-size: 100%;
}

.error {
    color: red;
    text-align: center;
}

.create-form {
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    display: block;
    padding: 20px;
    margin: 60px;
}

.size {
    font-size: 20px;
    margin: 40px;
    font-weight: bold;
    display:inline-block;
    width:130px;
}
.base-input {
    width: 200px;
    height: 20px;
    }

.cp_iptxt{

}

.site_logo {
    text-align: center;
    width: auto;
    font-size: 45px;
    line-height: 60px;

}

.custom-btn {
        border: none;
        border-radius: 5px;
        background-color: #FFA629;
        padding: auto;
        line-height: 2;
        padding: 10px;
        cursor: pointer;
        margin: 35px;
        color: black;
        font-size: 15px;
  }

  .error1 {
      position: absolute;
          top: 42%;
          left: 47%;
          color: red;
  }

.error2 {
    position: absolute;
        top: 59%;
        left: 47%;
        color: red;
}


.login-form {
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    display: block;
    padding: 20px;
    margin: 60px;
    border-radius: 30px;
}
.base-input {
    width: 300px;
    height: 20px;
}

.site_logo {
    text-align: center;
    width: auto;
    font-size: 45px;
    line-height: 60px;

}


.logout-comment {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    margin: 60px;
    line-height: 130px;
  }

textarea.information {
        width: 510px;
        height: 350px;
}

.base-text{
    font-size: 20px;
        margin: 40px;
        width: 130px;
        font-weight: bold;
        display: inline-block;
}

.base-text-images{
    font-size: 20px;
    margin: 40px;
    width: 180px;
    font-weight: bold;
    display: inline-block;
}

.review-area {
    width: 90%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.9);
    display: block;
    border-radius: 30px;
    margin: auto;
}