body {
    background-image: url(../images/background.png);
    background-attachment: fixed;
    background-size: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 20px;
  }

  .thread-area {
      width: 90%;
      height: auto;
      background-color: rgba(255, 255, 255, 0.9);
      display: block;
      border-radius: 30px;
      margin: auto;
      }
  
  h3 {
    margin: 0;
        font-size: 26px;
  }

  .thread-create-button {
        border-radius: 5px;
        background-color: #FFA629;
        padding: auto;
        line-height: 2;
        padding: 10px;
        cursor: pointer;
        color: black;
        margin: 0 20px;
        float: right;
        font-weight: bold;
        font-size: 15px;
  }
  
  .restaurant {
    margin-bottom: 20px;
    background-color: #FFECD7; /* 薄いオレンジ色の背景 */
    display: flex;
    align-items: center;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    margin-top: 4%;
    padding: 2%;
  }
  
  .restaurant-img {
flex-shrink: 0;
    width: 200px;
    height: 190px;
    margin-right: 10px;
  }
  
  .restaurant-name {
    font-size: 20px;
  }
  
  .genre {
    font-size: 18px;
  }
  
  .address {
    font-size: 18px;
        margin-top: 5px;
  }
  
  .likes {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
  
  .likes button {
    margin-right: 5px;
        padding: 5px 10px;
        border: solid 1px;
        background-color: #bffdf1;
        cursor: pointer;
        font-size: 15px;
        font-weight: bold;

  }
  
  .likes span {
    font-size: 15px;
    font-weight: bold;
  }
  
  .opening-hours {
    font-size: 17px;
    margin-top: 5px;
  }
  
  .hashtags {
    font-size: 10px;
    margin-top: 5px;
    display:flex;
  }
  
  .hashtags a {
    margin-right: 5px;
    color: #1e66b8;
    text-decoration: none;
    font-size: 14px;
  }

  .thread-list-ul{
    list-style-type: none;
    display: flex;
    padding:0px 5px
  }

  .delete-update{
    margin-left: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
  }

  .update-button{
          border-radius: 5px;
          background-color: #86dd60;
          padding: auto;
          line-height: 2;
          padding: 10px;
          cursor: pointer;
          color: black;
          margin: 20px;
          /* font-weight: bold; */
          font-size: 20px;
  }
  .delete-button{
      border-radius: 5px;
      background-color: #ffa995;
      padding: auto;
      line-height: 2;
      padding: 10px;
      cursor: pointer;
      color: black;
      margin: 20px;
      /* font-weight: bold; */
      font-size: 20px;
  }

  .community-name{
    text-align: center;
  }

  .sorting{
    font-size: 20px;
  }

