<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>口ゃんねる</title>
    <link href="/css/oyafuso.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <h1>コミュニティ作成</h1>
    <form action="community-add" method="post" th:object="${communityAdd}">
        <p>
            コミュニティ名：
            <input type="text" th:field="*{communityName}">
            <span class="red" th:errors="*{communityName}"></span>
        </p>

        <p>
            ニックネーム：
            <input type="text" th:field="*{nickName}">
            <span class="red" th:errors="*{nickName}"></span>
        </p>

        <button type="submit" class="btn btn-warning" th:text="作成"></button>

    </form>
</body>
</html>