<!DOCTYPE html>

<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>口ゃんねる</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
<div id="app">

    <th:block th:insert="common/header"></th:block>
<p>該当のコミュニティは削除されています。</p>
<button type="button" onclick="history.back()">戻る</button>

</div>

<script>
const { createApp } = Vue

        createApp({
            data() {
                return {
                    showMenu: false,
                    userImage: '',
                }

            },

            methods: {
                toggleMenu() {
                    this.showMenu = !this.showMenu;
                },

            },

            created: function () {
                this.userImage = `[[ ${image} ]]`;
            }

        }).mount('#app')
</script>

</body>
</html>