<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>口ゃんねる</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>

<div id="app">

  <th:block th:insert="common/header"></th:block>

  <h3>[[ ${community.name} ]]の、[[ ${userName} ]]さんからの問い合わせ</h3>
  <p>[[ ${inquiry.content} ]]</p>

<!--  <a th:href="@{/kuchannel/notice(id=${community.id})}" th:text="戻る"></a>-->
<!--  <a th:href="@{/community/thread-list(id=${community.id})}" th:text="該当コミュニティへ"></a>-->
  <a th:href="@{/kuchannel/notice}" th:text="戻る"></a>
  <a th:href="@{${community.url}+'/'+ ${community.id}+'/threads'}" th:text="該当コミュニティへ"></a>

</div>

<!--<script src="/js/base.js"></script>-->

<script>
const { createApp } = Vue

        createApp({
            data() {
                return {
                    showMenu: false,
                    userImage: '',
                }

            },

            methods: {
                toggleMenu() {
                    this.showMenu = !this.showMenu;
                }

            },

            created: function () {
                this.userImage = `[[ ${image} ]]`;
            }

        }).mount('#app')
</script>

</body>

</html>