<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>口ゃんねる</title>
    <link href="css/mypage.css" rel="stylesheet">

</head>
<body>

    <div class="tab-container">
        <div class="tab-buttons">
            <button class="tab-button active" onclick="openTab(event, 'tab1')">タブ1</button>
            <button class="tab-button" onclick="openTab(event, 'tab2')">タブ2</button>
            <button class="tab-button" onclick="openTab(event, 'tab3')">タブ3</button>
            <button class="tab-button" onclick="openTab(event, 'tab4')">タブ4</button>
        </div>
    
        <div class="tab-content-area">
            <div id="tab1" class="tab-content" style="display: block;">
                <h3>タブ1のコンテンツ</h3>
                <p>これはタブ1のコンテンツです。</p>
            </div>
    
            <div id="tab2" class="tab-content">
                <h3>タブ2のコンテンツ</h3>
                <p>これはタブ2のコンテンツです。</p>
            </div>
    
            <div id="tab3" class="tab-content">
                <h3>タブ3のコンテンツ</h3>
                <p>これはタブ3のコンテンツです。</p>
            </div>
    
            <div id="tab4" class="tab-content">
                <h3>タブ4のコンテンツ</h3>
                <p>これはタブ4のコンテンツです。</p>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
    


    <script>
  
        const { createApp } = Vue
      
        createApp({
          data(){
            return{
              products :[],
              searchInput:''
            }
      
      
          },
      
          methods:{
            
            
      
            
          },
      
          created:function(){
            
          }
      
        }).mount('#app')
      
      </script>
    <script>
        function openTab(evt, tabName) {
            // タブコンテンツを非表示にする
            var i, tabcontent, tabbuttons;
            tabcontent = document.getElementsByClassName("tab-content");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            
            // ボタンのアクティブ状態を解除する
            tabbuttons = document.getElementsByClassName("tab-button");
            for (i = 0; i < tabbuttons.length; i++) {
                tabbuttons[i].className = tabbuttons[i].className.replace(" active", "");
            }
            
            // 選択されたタブコンテンツを表示し、ボタンをアクティブにする
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
    
    </body>
</html>