<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>口ゃんねる</title>
  <link href="/css/mypage.css" rel="stylesheet">
  <link href="/css/base.css" rel="stylesheet">
  <link href="/css/popup.css" rel="stylesheet">
</head>

<body>
  <!-- <div id="app0">
    <th:block th:insert="common/header"></th:block>
  </div> -->


  <div id="app">
    <th:block th:insert="common/header"></th:block>

    <div class="tab-container">
      <div class="tab-buttons">
        <button class="tab-button active" @click="displayTabJudge(1)" id="btn1">コミュニティ一覧</button>
        <button class="tab-button" @click="displayTabJudge(2)" id="btn2">自分のスレッド</button>
        <button class="tab-button" @click="displayTabJudge(3)" id="btn3">自分のレビュー</button>
      </div>

      <div class="tab-content-area">
        <div id="tab1" v-if="tab1" class="tab-content">

          <table>

            <thead>
              <tr style="background-color: #FFA629; text-align: center;">
                <th style="padding: 10px;">コミュニティ名</th>
                <th style="width: 180px;">共有リンクのコピー</th>
                <th>ニックネーム</th>
                <th>退会する</th>
              </tr>
            </thead>
            <tbody>
              <button type="button" @click="openPopupCommu" style="margin-bottom: 10px; background-color: #FFA931; " class="tab-button">コミュニティ作成</button>
              <tr v-for="com in belongingCommunities" class="community-tr">
                <td><a :href="getCommunityLink(com.communityUrl,com.communityId)">{{com.communityName}}</a></td>
                <td><button type="button" @click="copy(com.communityId)" style="font-size: 21px;">共有</button></td>
                <td><input type="text" v-model="com.nickName" class="nickname-css">
                  <button type="button" @click="updateNickName(com.nickName,com.communityId,com.userId,com.communityName)" style="background-color: #f9dfb2;border: #755e36 solid 1px; font-size: 20px;">変更</button>
                </td>
                <td><button type="button" @click="withdrawal(com.communityId)" style="background-color: rgb(255 156 156); color: black; font-size: 20px;}">退会</button></td>
              </tr>
            </tbody>
          </table>

          <!-- コミュニティ作成画面 -->
          <div v-if="isPopupCommunity" class="popup-overlay" @click.self="closePopupCommu">
            <div class="popup">
              <h1>コミュニティ作成</h1>
              <form action="/kuchannel/community-add" method="post" th:object="${communityAdd}">
                <p>
                  コミュニティ名：
                  <input type="text" th:field="*{communityName}">
                  <span class="red" th:errors="*{communityName}"></span>
                </p>

                <p>
                  ニックネーム：
                  <input type="text" th:field="*{nickName}">
                  <span class="red" th:errors="*{nickName}"></span>
                </p>

                <button type="button" @click.self="closePopupCommu">閉じる</button>
                <button type="submit" class="btn btn-warning" th:text="作成"></button>

              </form>
            </div>
          </div>
        </div>

        <!-- 自分のスレッド -->
        <div id="tab2" v-if="tab2" class="tab-content">
          <table class="community-table">

            <thead>
              <tr style="background-color: #FFA629; text-align: center;">
                <th style="padding: 10px;">スレッド名</th>
                <th>コミュニティ名</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="thread in myThreads">
                <td><a :href="getReviewLink(thread.communityUrl,thread.communityId,thread.threadId)" style="color: rgb(0 88 255);">{{thread.threadTitle}}</a></td>
                <td><a :href="getCommunityLink(thread.communityUrl,thread.communityId)" style="color: rgb(0 88 255);">{{thread.communityName}}</a></td>
              </tr>

            </tbody>
          </table>
        </div>

        <!-- 自分のレビュー -->
        <div id="tab3" v-if="tab3" class="tab-content">
          <table class="community-table">

            <thead>
              <tr style="background-color: #FFA629; text-align: center;">
                <th style="padding: 10px;">タイトル</th>
                <th>本文</th>
                <th>スレッド名</th>
                <th>コミュニティ名</th>
                <th>投稿日</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="review in myReviews">
                <td style="color: rgb(0, 88, 255);">{{review.reviewTitle}}</td>

                <td class="review-cell"><a :href="getReviewLink(review.communityUrl,review.communityId,review.threadId,review.reviewId)">{{review.review}}</a></td>

                <td> <a :href="getReviewLink(review.communityUrl,review.communityId,review.threadId)">{{review.threadTitle}}</a></td>
                <td><a :href="getCommunityLink(review.communityUrl,review.communityId)">{{review.communityName}}</a></td>
                <td>{{review.createDate}}</td>
              </tr>

            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
  <!-- <script src="/js/base.js"></script> -->
  <script>

    const { createApp } = Vue

    createApp({
      data() {
        return {
          products: [],
          searchInput: '',
          tab1: true,
          tab2: false,
          tab3: false,
          belongingCommunities: [],
          inputNickName: '',
          myThreads: [],
          myReviews: [],
          isPopupCommunity: false,
          showMenu: false,
          userImage: '',
        }

      },

      methods: {
        //タブが押されたら、それに対応した内容が表示される
        displayTabJudge(tabNum) {
          console.log('tabNum' + tabNum);

          for (let i = 1; i < 4; i++) { 
            this['tab' + i] = false;
            console.log('isPopUo'+ this.isPopupCommunity)
            document.getElementById(`btn${i}`).classList.remove('active')
          } 
          this['tab' + tabNum] = true; 
          selectedTab = document.getElementById(`btn${tabNum}`)
          selectedTab.className += " active" 
        },
        //所属しているコミュニティを取得 
        getBelongingCommunities(){ this.belongingCommunities=[]; axios.get('/getBelongingCommunities')
        .then(res => {
          for (let i = 0; i < res.data.length; i++) {
            if (res.data[i].flag === true) { this.belongingCommunities.push(res.data[i]); } 
          }
          console.log('belogCommunity',this.belongingCommunities);
            });
        },
        //退会処理 
          withdrawal(communityId){ axios.request({ url: '/withdrawal'
          , method: 'post', data: communityId, headers: { 'Content-Type': 'text/plain' }
        }).then(res => {
          this.getBelongingCommunities();
        });
          },

        //ニックネームの更新
        updateNickName(inputNickName, communityId, userId, communityName){
          const updateInfo = {
            communityId: communityId,
            userId: userId,
            communityName: communityName,
            nickName: inputNickName,
            flag: true
          };
          axios.post('/updateNickName', updateInfo)
            .then(res => {
              this.getBelongingCommunities();
            });
        },

        //建てたスレッドを取得
        getMyThreads(){
          this.myThreads = [];
          axios.get('/getMyThreads')
            .then(res => {
              this.myThreads = res.data;
              console.log(res.data);
            });
        },

        //投稿したレビューを取得
        getMyReviews(){
          this.myReviews = [];
          axios.get('/getMyReviews')
            .then(res => {
              this.myReviews = res.data;
              console.log(res.data);
            })
        },

        //URLをコピー
        copy(id) {
          axios.get(`/getUrl?name=${id}`)
            .then(res => {

            //後ほどURLをkucahnnel入りに修正するため、不要
              const gotUrl = res.data;
              console.log('gotUrl',gotUrl)
              const replace = gotUrl.replace("http://192.168.33.99:8080/","");
              console.log('replace',replace)
              const molded = `http://192.168.33.99:8080/${replace}/${id}/threads`;
              console.log(molded,'molded');


              // 取得したURLをクリップボードにコピーする処理を実行
              const el = document.createElement('textarea');

              //後ほど(以下略
              el.value = molded;
              document.body.appendChild(el);
              el.select();
              document.execCommand('copy');
              document.body.removeChild(el);
            })
            .catch(error => {
              console.error(error);
            });
        },
        //コミュニティ作成画面をポップアップ
        openPopupCommu() {
          this.isPopupCommunity = true;
        },
        closePopupCommu() {
          this.isPopupCommunity = false;
        },


//後ほど・・
        getCommunityLink(communityLink,communityId) {
          const link = communityLink.replace("http://192.168.33.99:8080/","");
          return `http://192.168.33.99:8080/${link}/${communityId}/threads`;
        },
        getReviewLink(communityLink,communityId,threadId) {
          const link = communityLink.replace("http://192.168.33.99:8080/","");
          return `http://192.168.33.99:8080/${link}/${communityId}/threads/${threadId}/reviews`;

        },
        getReviewLink(communityLink,communityId,threadId,reviewId) {
          const link = communityLink.replace("http://192.168.33.99:8080/","");
          return `http://192.168.33.99:8080/${link}/${communityId}/threads/${threadId}/reviews/${reviewId}`;
        },
        toggleMenu() {
          this.showMenu = !this.showMenu;

        },

    },

      created: function () {
        //console.log("created");

        this.getBelongingCommunities();
        this.getMyThreads();
        this.getMyReviews();

        this.userImage = `[[ ${image} ]]`;
      }

    }).mount('#app')

  </script>

</body>

</html>