<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>口ゃんねる</title>
    <link href="css/mypage.css" rel="stylesheet">

</head>
<body>
    <div id="app">

        <div class="tab-container">
            <div class="tab-buttons">
                <button class="tab-button" @click="displayTabJudge(1)" id="btn1">タブ1</button>
                <button class="tab-button" @click="displayTabJudge(2)" id="btn2">タブ2</button>
                <button class="tab-button" @click="displayTabJudge(3)" id="btn3">タブ3</button>
            </div>
        
            <div class="tab-content-area">
                <div id="tab1" v-if="test1" class="tab-content">
                    <table>
                        
                      <thead>
                        <tr>
                          <th>コミュニティ名</th>
                          <th>共有リンクのコピー</th>
                          <th>ニックネーム</th>
                          <th>退会する</th>
                        </tr>
                      </thead>
                      <tbody>

                        
                        <tr v-for ="com in belongingCommunities">
                          <td>{{com.communityName}}</td>
                          <td><button type="button">共有</button></td>
                          <td><input type="text"  v-model="com.nickName"><button type="button" @click="updateNickName(com.nickName,com.communityId,com.userId,com.communityName)">変更</button></button></td>
                          <td><button type="button" @click="withdrawal(com.communityId)">退会</button></td>
                        </tr>
                
                      </tbody>
                    </table>
                </div>
        
                
                
                <div id="tab2" v-if="test2" class="tab-content">
                  <table>
                        
                    <thead>
                      <tr>
                        <th>スレッド名</th>
                        <th>コミュニティ名</th>
                      </tr>
                    </thead>
                    <tbody>

                      
                      <tr v-for ="thread in myThreads">
                        <td><a href="#">{{thread.threadTitle}}</a></td>
                        <td><a href="#">{{thread.communityName}}</a></td>
                        
                      </tr>
              
                    </tbody>
                  </table>
                </div>
        
                <div id="tab3" v-if="test3" class="tab-content">
                    <h3>タブ3のコンテンツ</h3>
                    <p>これはタブ3のコンテンツです。</p>
                </div>
        

            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
    


    <script>
  
        const { createApp } = Vue
      
        createApp({
          data(){
            return{
              products :[],
              searchInput:'',
              test1:true,
              test2:false,
              test3:false,
              belongingCommunities:[],
              inputNickName:'',
              myThreads:[],
              
            }
      
      
          },
      
          methods:{
            //タブが押されたら、それに対応した内容が表示される
            displayTabJudge(tabNum){
                console.log('tabNum'+tabNum);

                for (let i=1; i<4; i++){
                this['test'+i] = false;
                }
                this['test'+tabNum] =true;
                
                for(let i=1; i<4; i++){
                }
            },
            //所属しているコミュニティを取得
            getBelongingCommunities(){
                this.belongingCommunities =[];
                axios.get('/getBelongingCommunities')
                .then(res =>{
                    for(let i=0; i<res.data.length; i++){
                        if(res.data[i].flag === true ){
                            this.belongingCommunities.push(res.data[i]);
                        }
                    }
                    console.log(this.belongingCommunities);
                });
            },
            //退会処理
            withdrawal(communityId){
              axios.request({
                        url: '/withdrawal',
                        method: 'post',
                        data: communityId,
                        headers: {
                            'Content-Type': 'text/plain'
                        }
              })
              .then(res =>{
                this.getBelongingCommunities();
                });
            },

            //ニックネームの更新
            updateNickName(inputNickName,communityId,userId,communityName){
              const updateInfo = {
                communityId : communityId,
                userId : userId,
                communityName : communityName,
                nickName: inputNickName,
                flag : true
              };
              axios.post('/updateNickName',updateInfo)
              .then(res =>{
                this.getBelongingCommunities();
              });

              
            },
            
            //建てたスレッドを取得
            getMyThreads(){
                this.myThreads =[];
                axios.get('/getMyThreads')
                .then(res =>{
                    this.myThreads = res.data;
                    console.log(res.data);
                });
                
            },


            
            
      
            
          },
      
          created:function(){
            console.log("created");
            this.getBelongingCommunities();
            this.getMyThreads();
          }
      
        }).mount('#app')
      
      </script>

    
    </body>
</html>