<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>口ゃんねる</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link href="/css/mypage.css" rel="stylesheet">
    <style>
        .notice-list {
            margin: 20px;
            max-width: 100%;
            padding: 20px;
            border: 1px solid gray;
            padding: 10px;
            font-size: 20px;
        }
    </style>
</head>

<body>

    <!--    <div id="app0">-->
    <!--        <th:block th:insert="common/header"></th:block>-->
    <!--    </div>-->

    <div id="app">

        <th:block th:insert="common/header"></th:block>

        <div class="tab-container">

            <div class="tab-content-area">
                <h1 style="text-align: center;">お知らせ</h1>

                <div class="tab-buttons">
                    <button class="tab-button" @click="changeReply" id="btn1">返信</button>
                    <button class="tab-button" @click="changeInquiry" id="btn2">お問い合わせ</button>
                </div>

                <div class="tab-content-area" STYLE="margin: 0 auto;">
                    <div v-if="replyView">
                        <th:block th:each="notice : ${notices}">
                            <div th:if="${notice.flag}">
                                <a
                                    th:href="@{/review-detail(reviewId=${notice.reviewId}, threadId=${notice.threadId}, noticeId=${notice.noticeId}, flag=${notice.flag})}">
                                    <p class="notice-list" style="background-color: rgb(255 212 212); text-align:center;"
                                        th:text="${notice.replyUserName} + 'さんが' + ${notice.threadTitle} + 'へのレビューに返信しました'">
                                    </p>
                                </a>
                            </div>
                            <div  th:unless="${notice.flag}">
                                <a
                                    th:href="@{/review-detail(reviewId=${notice.reviewId}, threadId=${notice.threadId}, noticeId=${notice.noticeId}, flag=${notice.flag})}">
                                    <p class="notice-list" style="background-color: #c7c7c7;"
                                        th:text="${notice.replyUserName} + 'さんが' + ${notice.threadTitle} + 'へのレビューに返信しました'">
                                    </p>
                                </a>
                            </div>
                        </th:block>
                    </div>


                    <div v-if="inquiryView">
                        <th:block th:each="inquiry : ${inquires}">
                            <div th:unless="${inquiry.flag}">
                                <a th:href="@{/inquiry(id=${inquiry.id})}">
                                    <p class="notice-list" style="background-color: rgb(255 212 212);"
                                        th:text="${inquiry.inquiryUserName} + 'さんから' + ${inquiry.communityName} + 'へお問い合わせがありました'">
                                    </p>
                                </a>
                            </div>
                            <div th:if="${inquiry.flag}">
                                <a th:href="@{/inquiry(id=${inquiry.id})}">
                                    <p class="notice-list" style="background-color: #c7c7c7;"
                                        th:text="${inquiry.inquiryUserName} + 'さんから' + ${inquiry.communityName} + 'へお問い合わせがありました'">
                                    </p>
                                </a>
                            </div>
                        </th:block>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!--    <script src="/js/base.js"></script>-->

    <script>

        const { createApp } = Vue

        createApp({
            data() {
                return {
                    replyView: true,
                    inquiryView: false,
                    noticeList: [],

                    showMenu: false,
                    userImage: '',

                }
            },
            methods: {
                changeReply() {
                    this.replyView = true;
                    this.inquiryView = false;
                },
                changeInquiry() {
                    this.inquiryView = true;
                    this.replyView = false;
                },
                toggleMenu() {
                    this.showMenu = !this.showMenu;
                },
            },
            created: function () {
                console.log('created')
                this.noticeList = `[[${notices}]]`
                console.log(this.noticeList);
                this.userImage = `[[ ${image} ]]`;
            },

        }).mount('#app')

    </script>

</body>

</html>