<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>口ゃんねる</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link href="css/mypage.css" rel="stylesheet">
    <style>
        .notice-list {
            margin: 0 auto;
            max-width: 800px;
            padding: 20px;
            border: 1px solid gray;
            padding: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>

    <div id="app0">
        <th:block th:insert="common/header"></th:block>
    </div>

    <div id="app2">

        <div class="tab-container">
            <h1>お知らせ</h1>

            <div class="tab-buttons">
                <button class="tab-button" @click="changeReply" id="btn1">返信</button>
                <button class="tab-button" @click="changeInquiry" id="btn2">お問い合わせ</button>
            </div>

            <div class="tab-content-area">
                <div v-if="replyView">
                    <th:block th:each="notice : ${notices}">
                        <div th:if="${notice.flag}">
                            <a th:href="@{/review-detail(reviewId=${notice.reviewId}, threadId=${notice.threadId}, noticeId=${notice.noticeId}, flag=${notice.flag})}">
                                <p class="notice-list" style="background-color: sandybrown;"
                                    th:text="${notice.replyUserName} + 'さんが' + ${notice.threadTitle} + 'へのレビューに返信しました'">
                                </p>
                            </a>
                        </div>
                        <div th:unless="${notice.flag}">
                            <a th:href="@{/review-detail(reviewId=${notice.reviewId}, threadId=${notice.threadId}, noticeId=${notice.noticeId}, flag=${notice.flag})}">
                                <p class="notice-list" style="background-color: gray;"
                                    th:text="${notice.replyUserName} + 'さんが' + ${notice.threadTitle} + 'へのレビューに返信しました'">
                                </p>
                            </a>
                        </div>
                    </th:block>
                </div>

                <div v-if="inquiryView">
                    <th:block th:each="inquiry : ${inquires}">
                        <a th:href="@{/inquiry(id=${inquiry.id})}">
                            <p class="notice-list" style="background-color: lightcoral;"
                                th:text="${inquiry.inquiryUserName} + 'さんから' + ${inquiry.communityName} + 'へお問い合わせがありました'">
                            </p>
                        </a>
                    </th:block>
                </div>
            </div>

        </div>

    </div>

    <script src="/js/base.js"></script>

    <script>

        createApp({
            data() {
                return {
                    replyView: true,
                    inquiryView: false,
                }
            },
            methods: {
                changeReply() {
                    this.replyView = true;
                    this.inquiryView = false;
                },
                changeInquiry() {
                    this.inquiryView = true;
                    this.replyView = false;
                },
            },
        }).mount('#app2')
    </script>

</body>

</html>