<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>プロフィール</title>
    <link href="/css/commons.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <th:block th:insert="common/header"></th:block>

        <div class="login-form">
            <form action="/kuchannel/profile-edit" method="get">
                <div>
                    <label class="base-text">名前：</label>
                    <span class="base-text" type="text" name="name" th:text="${profile.name}" readonly></span>
                </div>
                <div>
                    <label class="base-text">ユーザーID：</label>
                    <span class="base-text" type="text" name="loginId" th:text="${profile.loginId}" readonly></span>
                </div>
                <div>
                    <label class="base-text">パスワード：</label>
                    <span class="base-text" type="text" name="password" readonly>****</span>

                </div>
                <div>
                    <label class="base-text-images">プロフィール画像：</label>
                    <div v-if="userImage != ''">
                        <img :src="'data:image/png;base64,' + userImage" class="base-text"
                            style="width: 50px; height: 50px;">
                    </div>
                </div>

                <button class="custom-btn" type="submit" th:text="プロフィール編集"></button>

            </form>

        </div>

    </div>

    <!-- <script src="/js/base.js"></script> -->

    <script>

        const { createApp } = Vue

        createApp({
            data() {
                return {
                    showMenu: false,
                    userImage: '',
                }

            },

            methods: {
                toggleMenu() {
                    this.showMenu = !this.showMenu;
                },

            },

            created: function () {
                this.userImage = `[[ ${image} ]]`;
            }

        }).mount('#app')

    </script>

</body>

</html>