<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>レビュー一覧</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
  <style>
    body {
      text-align: center;
    }

    .review {
      border: 1px solid black;
      border-radius: 8px;
      padding: 10px;
      margin-bottom: 10px;
      margin-left: 20%;
      margin-right: 20%;
    }

    .image-review-container {
      display: flex;
      margin-top: 10px;
    }

    .popup {
      width: 50%;
      height: 30%;
      text-align: center;
      margin-top: 200px;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
    }

    .popup-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(150, 150, 150, 0.5);
      display: flex;
      justify-content: center;
      /* align-items: center; */
      animation: fade-in 0.5s ease-in;
    }
  </style>
</head>

<body>

  <div id="app0">

    <th:block th:insert="~{common/header}"></th:block>

  </div>

  <div id="app">
    <h2>登録したお店の情報</h2>
    <hr>

    <div class="review">
      <p>
        タイトル：
        <input type="text" v-model="reviewTitle">
      </p>
      <p>
        本文：
        <textarea cols="30" rows="10" v-model="content"></textarea>
      </p>
      <p>
        写真の追加：
        <input type="file" ref="fileInput" multiple />
      </p>

      <button type="button" @click="addReview">投稿</button>
    </div>

    <div class="review" v-for="review in reviews">
      <p>{{ review.userName }}さん</p>
      <h3>{{ review.title }}</h3>
      <p>レビューID: {{ review.reviewId }}</p>

      <!-- 一枚だけ表示(未) -->
      <!-- <img :src="'/images/reviewImages/' + review.reviewImages[0].imagePath" style="width: 60px; height: auto;"> -->

      <!-- 複数表示 -->
      <div class="image-review-container">
        <p>{{ review.review }}</p>
        <div v-for="image in review.reviewImages">
          <img :src="'/images/reviewImages/' + image.imagePath" style="width: 50px; height: auto;">
        </div>
      </div>
      {{review.reviewId}} 
      <!-- 投稿ユーザーだけ表示される(後でやる) -->
      <!-- ここを修正(富永＆宮城) -->
      <button type="button" @click="showDeleteConfirmation(review.reviewId)">削除</button>
      <button type="button" @click="showEditPopup(review)">編集</button>
      
      <div v-if="showDeletePopup" class="popup-overlay">
        <div class="popup">
          <h2>削除しますか？</h2>
          <button type="button" @click="deleteReview(review.reviewId)">OK</button>
          <button type="button" @click="cancelDelete">キャンセル</button>
        </div>
      </div>

    </div>

    <!-- <p th:text="'クリックされたレビューは、' + ${review} + 'です。'"></p> -->

    <!-- 編集ポップアップ -->
    <div v-if="showPopup">
      <h2>編集</h2>
      <p>タイトル：<input type="text" v-model="editingReview.title"></p>
      <p>本文：<textarea cols="30" rows="10" v-model="editingReview.content"></textarea></p>
      <button type="button" @click="updateReview">更新</button>
      <button type="button" @click="closePopup">キャンセル</button>
    </div>
  </div>
  <script src="/js/base.js"></script>

  <script>
    createApp({
      data() {
        return {
          reviewTitle: '',
          content: '',
          reviews: [],
          showPopup: false,
          showDeletePopup: false,
          editingReview: {
            id: '',
            title: '',
            content: ''
          },
          reviewToDelete: null
        }
      },
      methods: {
        //レビュー削除処理
        showDeleteConfirmation(reviewId) {
          this.reviewToDelete = reviewId;
          this.showDeletePopup = true;
        },
        deleteReview(reviewId) {
          console.log("success", reviewId);
          axios
            .delete(`/api/delete/${reviewId}`)
            .then(res => {
              // 削除成功時の処理
              this.getReviews();
              this.cancelDelete();
              console.log(res);
            })
            .catch(error => {
              // エラーハンドリング処理
              console.error(error);
            });
        },

        // レビュー投稿処理
        addReview() {
          console.log(this.reviewTitle, this.content);
          const formData = new FormData();
          formData.append("title", this.reviewTitle);
          formData.append("content", this.content);

          // 複数の画像をFormDataに追加
          for (let i = 0; i < this.$refs.fileInput.files.length; i++) {
            formData.append('images', this.$refs.fileInput.files[i]);
          }

          axios.post('/add-review', formData)
            .then(res => {
              // アップロードが成功した場合の処理
              this.getReviews();
              console.log(res);
            })
            .catch(error => {
              // エラーが発生した場合の処理
            });
        },
        getReviews() {
          this.reviews = [];
          axios.get('/getReviews')
            .then(res => {
              this.reviews = res.data;
              console.log(this.reviews);
              console.log(this.reviews[0].reviewImages[0].imagePath);
            }
            );
        },
        // showDeleteConfirmation(reviewId) {
        //   this.reviewToDelete = reviewId;
        //   this.showDeletePopup = true;
        // },
        // deleteReview(reviewId) {
        //   axios.delete('/api/delete', {
        //     params: {
        //       id: reviewId
        //     }
        //   })
        //     .then(res => {
        //       this.getReviews();
        //       this.cancelDelete();
        //       console.log(res);
        //     });
        // },
        cancelDelete() {
          this.reviewToDelete = null;
          this.showDeletePopup = false;
        },
        showEditPopup(review) {
          this.showPopup = true;
          this.editingReview.id = review.reviewId;
          this.editingReview.title = review.title;
          this.editingReview.content = review.content;
        },
        updateReview() {
          const updatedReview = {
            id: this.editingReview.id,
            title: this.editingReview.title,
            content: this.editingReview.content
          };

          axios.put('/api/update', updatedReview)
            .then(res => {
              this.getReviews();
              this.closePopup();
              console.log(res);
            });
        },
        closePopup() {
          this.showPopup = false;
          this.editingReview.id = '';
          this.editingReview.title = '';
          this.editingReview.content = '';
        }
      },
      created() {
        this.getReviews();
      }
    }).mount('#app')
  </script>

</body>

</html>