<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>レビュー一覧</title>
  <link href="/css/base.css" rel="stylesheet">
  <link href="/css/popup.css" rel="stylesheet">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
  <link href="/css/review-list.css" rel="stylesheet">
  <style>
       .review-cell {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

  </style>
</head>

<body>

  <!--  <div id="app0">-->

  <!--    <th:block th:insert="common/header"></th:block>-->

  <!--  </div>-->

  <div id="app">
    <th:block th:insert="common/header"></th:block>

    <div class="review-area">
      <h2 style="font-size: 35px;">スレッド名：{{ updateThreadTitle }}</h2>

      <a :href="backThread()"
        style="text-decoration: none;background-color: rgb(196 255 235);width: 23%;font-size: 20px;background-color: rgb(184 249 255);border: 2px solid black;color: black;padding: 2px;text-decoration: none;">スレッド一覧へ戻る</a>
      <p></p>
      <button type="button" @click="openUpdateThread()"
        style="font-size: 20px;background-color: #ffbf64;border: 2px solid black;color: black;padding: 2px;margin: 20px;">情報編集</button>

      <div v-if="isThreadUpdatePopup" class="popup-overlay" @click.self="closeUpdateThread()">
        <div class="popup">
          <h1>スレッド情報編集</h1>
          <p>スレッド名(店名)：<input type="text" v-model="updateThreadTitle"> <!-- String threadName;と対応させる --></p>
          <!-- <p>フリガナ：<input type="text" v-model="updateThreadFurigana"></p> -->

          <p>お店の住所：<input type="text" v-model="updateThreadAddress"></p>
          <p>営業時間：<input type="text" v-model="updateThreadSalesTime"></p>
          <p>ジャンル：
            <select v-model="updateThreadGenre">
              <option value="該当なし" selected>該当なし</option>
              <option value="和食">和食</option>
              <option value="中華">中華</option>
              <option value="イタリアン">イタリアン</option>
              <option value="洋食">洋食</option>
              <option value="カフェ">カフェ</option>
              <option value="居酒屋">居酒屋</option>
              <option value="ラーメン">ラーメン</option>
              <option value="ファストフード">ファストフード</option>
              <option value="エスニック料理">エスニック料理</option>
            </select>
          </p>
          <p>ハッシュタグ：<input type="text" v-model="updateThreadHashtags"></p>
          <p>写真の追加：<input type="file" ref="fileInputThread" /></p>
          <div v-if="imageThread != ''">
            <p>更新前の画像</p>
            <div style="display: flex; justify-content: center;">
              <img :src="'data:image/png;base64,' + imageThread" style="width: 50px; height: auto;">
            </div>
          </div>

          <button @click.self="updateThread">更新</button>
          <button @click.self="closeUpdateThread()">閉じる</button>
        </div>

      </div>

      <div class="sorting">
        <label><input type="radio" name="sortSelect" @click="sortItems('id')"></button>投稿の新しい順にする</label>
        <label><input type="radio" name="sortSelect" @click="sortItems('good_count')"></button>いいねの多い順にする</label>
      </div>

      <hr>

      <div class="review-all">
        <span class="red">{{ addError }}</span>
        <p class="font-size">
          <input style="width: 50%;height: 25px;" type="text" v-model="reviewTitle" placeholder="タイトル">
        </p>
        <p class="font-size">
          <textarea style="width: 80%;" cols="30" rows="10" v-model="content" placeholder="本文（必須）"></textarea>
        </p>
        <p class="font-size">
          追加の画像：
          <input style="font-size: 16px;" type="file" ref="fileInput" multiple />
        </p>

        <button class="button" type="button" @click="addReview">投稿</button>
        <button @click="addTestData">テストデータ</button>
      </div>

      <!-- レビュー一覧を表示する -->
      <div class="review-all" v-for="review in reviews">

        <div class="review">

          <p><a :href="getUserReviewLink(review.userId)">{{ review.userName }}さん</a></p>
          <h3>{{review.title}}</h3>
          <p>投稿日：{{ review.createDate }}</p>

          <div class="image-review-container">
            <p class="review-cell" style="width: 100%; margin-right: 20px;">{{review.review}}</p>
            <div v-for="(image, index) in review.reviewImages">
              <div v-if="index === 0">
                <img :src="'data:image/png;base64,' + image.imagePath" style="width: 100px; height: auto;">
              </div>
            </div>
          </div>

        </div>

        <hr>

        <div v-for="(reply, index) in review.reviewReplies">
          <div v-if="index === 0" class="reply">
            <p><a :href="getUserReviewLink(reply.userId)">{{ reply.userName }}さん</a></p>
            <p class="review-cell" style="width: 100%;">{{ reply.reply }}</p>
            <p>投稿日：{{ reply.createDate }}</p>
          </div>
        </div>

        <div v-if="isReplyView && reviewId == review.reviewId" style="margin-bottom: 20px;">
          <h3>返信</h3>
          <p>
            本文：
            <textarea cols="30" rows="10" v-model="replyContent"></textarea>
          </p>
          <button type="button" @click="closeReply">閉じる</button>
          <button type="button" @click="addReply(review.reviewId)">送信</button>
          <button @click="replyTestData">テストデータ</button>
        </div>

        <button class="button" type="button" v-if="review.userId == userId || sessionInfo.role === 2"
          @click="showDeleteConfirmation(review.reviewId)">削除</button>
        <button class="button" type="button" v-if="review.userId == userId" @click="showEditPopup(review)">編集</button>
        <button class="button" type="button" @click="openReply(review.reviewId)">返信</button>

        <!-- <form action="/review-detail" method="get" style="margin-top: 20px;">
        <input type="hidden" name="reviewId" :value="review.reviewId" />
        <input type="hidden" name="threadId" th:value="${threadId}" />
        <button type="submit">詳細画面へ</button>
      </form> -->

        <a style="display: flex;flex-direction: column;margin: 10px;font-size: 18px;"
          :href="getReviewDetailLink(review.reviewId)">詳細画面へ</a>
        <!-- いいねボタン -->
        <div>
          <button class="button" @click="goodDeal(review.reviewId)">いいね👍</button>
          <span style="font-size: 20px;">{{ review.goodCount }}</span>
        </div>

        <div v-if="showDeletePopup" class="popup-overlay">
          <div class="popup">
            <h2>削除しますか？</h2>
            <button type="button" @click="deleteReview(reviewToDelete)">OK</button>
            <button type="button" @click="cancelDelete">キャンセル</button>
          </div>
        </div>

      </div>

      <!-- 編集ポップアップ -->
      <div v-if="showPopup" class="popup-overlay">
        <div class="popup">
          <h2>編集</h2>
          <p>タイトル：<input type="text" v-model="editingReview.title"></p>
          <p>本文：<textarea cols="30" rows="10" v-model="editingReview.content"></textarea></p>
          <p>写真の追加：<input type="file" ref="fileInput" multiple /></p>
          <div v-if="editingReview.imageReview != ''">
            <p>更新前の画像</p>
            <div style="display: flex; justify-content: center;">
              <img v-for="image in editingReview.imageReview" :src="'data:image/png;base64,' + image.imagePath"
                style="width: 50px; height: auto;">
            </div>
          </div>

          <button type="button" @click="closePopup">キャンセル</button>
          <button type="button" @click="updateReview">更新</button>
        </div>
      </div>

    </div>

  </div>

  <!--  <script src="/js/base.js"></script>-->

  <script>
    const { createApp } = Vue

    createApp({
      data() {
        return {
          communityId: '',
          communityUrl: '',
          reviewTitle: '',
          content: '',
          reviews: [],
          isReplyView: false,
          replies: [],
          replyContent: '',
          reviewId: '',
          showPopup: false,
          editingReview: {
            id: '',
            title: '',
            content: '',
            imageReview: [],
          },
          threadId: '',
          addError: '',
          sortKey: 'id',
          sortOrder: 'asc',

          //スレッド情報編集用
          isThreadUpdatePopup: false,
          updateThreadId: '',
          updateThreadTitle: '',
          updateThreadFurigana: '',
          updateThreadAddress: '',
          updateThreadSalesTime: '',
          updateThreadGenre: '',
          updateThreadHashtags: '',
          imageThread: '',
          thread: [],

          reviewToDelete: '',
          showDeletePopup: false,

          userId: '',

          community: [],

          showMenu: false,
          userImage: '',

          sessionInfo: [],

        }
      },
      methods: {
        //レビュー削除処理
        showDeleteConfirmation(reviewId) {
          this.reviewToDelete = reviewId;
          this.showDeletePopup = true;
        },
        deleteReview(reviewId) {
          console.log("success", reviewId);
          axios
            .delete(`/api/delete/${reviewId}`)
            .then(res => {
              // 削除成功時の処理
              this.getReviews(`[[ ${threadId} ]]`);
              this.cancelDelete();
              console.log(res);
            })
            .catch(error => {
              // エラーハンドリング処理
              console.error(error);
            });
        },

        // レビュー投稿処理
        addReview() {

          console.log(this.reviewTitle, this.content);
          const formData = new FormData();
          formData.append("threadId", `[[ ${threadId} ]]`);
          formData.append("title", this.reviewTitle);
          formData.append("content", this.content);

          // 複数の画像をFormDataに追加
          for (let i = 0; i < this.$refs.fileInput.files.length; i++) {
            formData.append('images', this.$refs.fileInput.files[i]);
          }
          console.log("ここまで");

          axios.post('/add-review', formData)
            .then(res => {
              // アップロードが成功した場合の処理
              this.getReviews(`[[ ${threadId} ]]`);
              this.reviewTitle = '';
              this.content = '';
              //console.log(res);
            })
            .catch(error => {
              // エラーが発生した場合の処理
              this.addError = "エラーが発生しました。正しい値を入力してください";
            });
        },
        getReviews(threadId) {
          // this.reviews = [];

          axios.get('/getReviews', {
            params: {
              threadId: threadId
            }
          })
            .then(res => {
              //console.log("レビューを取得しました！");
              this.reviews = res.data;
            }
            );
        },

        //編集・更新
        showEditPopup(review) {
          this.showPopup = true;
          this.editingReview.id = review.reviewId;
          this.editingReview.title = review.title;
          this.editingReview.content = review.review;
          this.editingReview.imageReview = review.reviewImages;
        },
        updateReview() {
          const formData = new FormData();
          // 複数の画像をFormDataに追加
          for (let i = 0; i < this.$refs.fileInput.files.length; i++) {
            formData.append('images', this.$refs.fileInput.files[i]);
          }

          formData.append('id', this.editingReview.id);
          formData.append('title', this.editingReview.title);
          formData.append('content', this.editingReview.content);

          if (this.editingReview.content == '') {
            alert('本文が未入力です。入力してください。');
          } else {

            // const updatedReview = {
            //   id: this.editingReview.id,
            //   title: this.editingReview.title,
            //   content: this.editingReview.content
            // };

            //formData.append('updatedReview', updatedReview);

            axios.put('/review-update', formData)
              .then(res => {
                this.getReviews(`[[ ${threadId} ]]`);
                this.closePopup();
                //console.log(updatedReview)
                console.log(res);

              });
          }

        },
        //返信画面表示
        openReply(reviewId) {
          this.isReplyView = true;
          this.reviewId = reviewId;
        },
        //返信画面非表示
        closeReply() {
          this.isReplyView = false;
        },
        //返信送信
        addReply(reviewId) {
          const formData = new FormData();
          formData.append("id", reviewId);
          formData.append("content", this.replyContent);

          if (this.replyContent == '') {
            alert('本文が未入力です。入力してください。');
          } else {

            axios.post('/add-reply', formData)
              .then(res => {
                // アップロードが成功した場合の処理
                this.isReplyView = false;
                this.replyContent = '';
                this.getReviews(`[[ ${threadId} ]]`);
                console.log(res);
              })
              .catch(error => {
                // エラーが発生した場合の処理
              });
          }
        },
        closePopup() {
          this.showPopup = false;
          this.editingReview.id = '';
          this.editingReview.title = '';
          this.editingReview.content = '';
        },
        cancelDelete() {
          this.reviewToDelete = null;
          this.showDeletePopup = false;
        },
        //ユーザーのレビュー一覧に遷移
        getUserReviewLink(userId) {
          return `/kuchannel/user-review/[[${community.id}]]/${userId}`;
        },
        //いいねボタン押された時の挙動
        goodDeal(reviewId) {
          //いいねテーブルへの制御はjavaで行っている
          axios.get(`/goodDeal/review/${reviewId}`)
            .then(res => {
              this.getReviews(`[[ ${threadId} ]]`);
            });
        },
        //レビューの並び替えonclickで並び替えたいキーの名前を入れる。
        sortItems(key) {

          const modifier = this.sortOrder === 'asc' ? 1 : -1;
          this.reviews.sort((a, b) => {
            if (key === 'id') {
              return (b.reviewId - a.reviewId) * modifier;
            } else if (key === 'good_count') {
              return (b.goodCount - a.goodCount) * modifier;
            }
            return 0;
          });

        },

        //スレッド編集画面ポップアップを開く
        openUpdateThread() {
          this.isThreadUpdatePopup = true;

        },
        //スレッド編集画面ポップアップを閉じる
        closeUpdateThread() {
          this.isThreadUpdatePopup = false;
        },

        //スレッド編集
        updateThread() {
          if (this.updateThreadTitle == '') {
            alert('お店の名前は必須入力です')
          } else {
            const formData = new FormData();
            formData.append("threadName", this.updateThreadTitle);
            formData.append("furigana", this.updateThreadFurigana);
            formData.append("address", this.updateThreadAddress);
            formData.append("salesTime", this.updateThreadSalesTime);
            formData.append("genre", this.updateThreadGenre);

            if (this.updateThreadHashtags == '') {
              formData.append("hashtag", null);
            } else {
              const splited = this.updateThreadHashtags.split(/(　| |、)/);
              const replaced = splited.map(item => item.replace(/[＃#]/g, ""));
              const filtered = replaced.filter(item => item !== " " && item !== "、");
              const trimed = filtered.map(item => item.trim());
              formData.append("hashtag", trimed);
            }
            formData.append("communityId", this.communityId);
            formData.append('image', this.$refs.fileInputThread.files[0]);
            axios.put(`/updateThread/${this.updateThreadId}`, formData)
              .then(res => {
                this.findThread(this.updateThreadId);
                this.closeUpdateThread();
              });

          };

        },

        //任意のスレッド情報を取得する
        findThread(threadId) {
          axios.get('/getThread', {
            params: {
              threadId: threadId
            }
          })
            .then(res => {
              this.thread = res.data;
              console.log(this.thread);
              //console.log(this.thread.title, this.thread.address, this.thread.genre, this.thread.hashtags);
              this.updateThreadTitle = this.thread.title;
              this.updateThreadFurigana = this.thread.furigana;
              this.updateThreadAddress = this.thread.address;
              this.updateThreadGenre = this.thread.genre;
              this.updateThreadHashtags = this.thread.hashtags;
              this.imageThread = this.thread.image_path;
            }
            );
        },

        getReviewDetailLink(reviewId) {
          const currentURL = window.location.href;
          console.log(currentURL);
          const returnURL = `${currentURL}/${reviewId}`
          console.log(returnURL);
          return returnURL;

        },


        //スレッド一覧へ戻る
        backThread() {

          return `${this.communityUrl}/${this.communityId}/threads`;

        },

        //コミュニティIDを取得する
        getCommunityId() {
          axios.get('/getCommunityId', {
            params: {
              threadId: `[[ ${threadId} ]]`
            }
          })
            .then(res => {
              this.community = res.data;
            }
            );
        },

        toggleMenu() {
          this.showMenu = !this.showMenu;
        },

        getSessionInfo() {
          axios.get(`/getSessionInfo/${this.communityId}`)
            .then(res => {
              this.sessionInfo = res.data;
              console.log(this.sessionInfo);
              console.log(res.data);
            });

        },

        addTestData(){
          this.reviewTitle= '鮮魚やまとへ行ってきました！！';
          this.content= '今日のお昼に、初めて鮮魚やまとへ行ってきました。とても美味しかったです。また行きたいです。';
        },

        replyTestData(){
          this.replyContent = '美味しそう！！私も行ってみたいと思ってたんだよね。今度一緒に行きませんか？';
        },

      },
      created: function () {
        // this.threadId = `[[ ${threadId} ]]`;
        // this.getReviews(this.threadId);
        this.getReviews(`[[ ${threadId} ]]`);
        this.getCommunityId(`[[ ${threadId} ]]`);

        this.updateThreadId = `[[ ${thread.id} ]]`;
        this.updateThreadTitle = `[[ ${thread.title} ]]`;
        this.updateThreadAddress = `[[ ${thread.address} ]]`;
        this.updateThreadSalesTime = `[[ ${thread.sales_time} ]]`;
        this.updateThreadGenre = `[[ ${thread.genre} ]]`;
        this.updateThreadHashtags = `[[ ${thread.hashtags} ]]`;
        this.imageThread = `[[ ${thread.image_path} ]]`;
        this.communityId = `[[ ${community.id} ]]`
        this.communityUrl = `[[ ${community.url} ]]`
        console.log(this.imageThread);

        this.userId = `[[ ${userId} ]]`;

        this.userImage = `[[ ${image} ]]`;

        this.getSessionInfo();

      },
    }).mount('#app')

  </script>

</body>

</html>