<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>口ゃんねる</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
  <link href="/css/popup.css" rel="stylesheet">
  <link href="/css/thread-list.css" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

  <div id="app0">
    <th:block th:insert="common/header"></th:block>
  </div>

  <div id="app">

    

    <div class="pagetop">
      <h1>{{communityName}}へようこそ！</h1>
      <button @click.self="getCommunityMember">コミュニティメンバーの確認</button>
    </div>

    <!-- 検索バー -->
    <div>
      <div class="search-container">
        <p>
          <input type="text" v-model="searchText"  @input="updateSuggestions('searchText')">
          <div v-if="issearchTextSuggest" class="suggest-area">
            <ul>

              <li v-for="suggestion in suggestions" :key="suggestion" class="suggest-content">
                <a @click="selectSuggestion(suggestion)">{{ suggestion }}</a>
              </li>
            </ul>
          </div>
          <input type="submit" value="&#xf002" @click="find(searchText)">
        </p>
      </div>

      <div>
        <select name="refine" v-model="selectedOption">
          <option value="thread">スレッド</option>
          <option value="review">全レビュー</option>
        </select>
        <button type="button" @click="changeRefineView()">簡単絞り込み</button>
      </div>

      <div v-if="refineView" style="text-align: center;" class="refine-view">
        <div>
          <h3>ジャンル</h3>
          <div v-for="genre in genres" style="display: inline-block;">
            <label><input type="checkbox" v-model="GenreChecked" :value="genre.genreName"></input>{{ genre.genreName }}</label>
          </div>
        </div>
        <hr>
        <div>
          <h3>人気のキーワード</h3>
          <div v-for="hashtag in hashtags" style="display: inline-block;">
            <p style="color: blue; margin-right: 10px;" @click="searchAdd(hashtag.tagName)">#{{ hashtag.tagName }}</p>
          </div>
        </div>
      </div>


      <!-- 並べ替えのところ -->
      <div class="sorting">
        <label><input type="radio" name="sortSelect" @click="sortItems('id')"></button>投稿の新しい順にする</label>
        <label><input type="radio" name="sortSelect" @click="sortItems('good_count')"></button>いいねの多い順にする</label>
      </div>

      <!-- メンバー確認 -->
      <div v-if="isCommunityMemberPopup" @click.self="closePopup('CommunityMember')" class="popup-overlay"
        type="button">
        <div class="popup">
          <h2 v-if="sessionInfo.role ===1">{{communityName}}のメンバー</h2>
          <input type="text" v-if="sessionInfo.role ===2" v-model="newCommunityName">
          <div v-if="sessionInfo.role ===2"><button @click="deleteCommunity">コミュニティを削除する</button></div>
          <table class="member-container">
            <thead>
              <tr>
                <th>メンバー名</th>
                <th v-if="sessionInfo.role ===2">退会</th>
                <th v-if="sessionInfo.role ===2">権限</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="member in communityMembers" V-bind:id="member.id">
                <!-- リンクからその人のレビュー一覧に飛べるように -->
                <td><a href="#">{{member.name}}</a></td>
                <td v-if="sessionInfo.role ===2">
                  <form name="form"><input type="checkbox" v-model="member.flag"
                      v-bind:disabled="member.id == sessionInfo.id"></form>
                </td>
                <td v-if="sessionInfo.role ===2">

                  <select name="roleSelect" v-model="member.role" v-bind:disabled="member.id == sessionInfo.id">
                    <option value=1 :selected="member.role === 1">一般</option>
                    <option value=2 :selected="member.role === 2">管理者</option>
                  </select>

                </td>
              </tr>
            </tbody>
          </table>
          <button type="button" v-if="sessionInfo.role ===1">問い合わせ</button>
          <button type="button" v-if="sessionInfo.role ===2" @click="applyChenge">この内容で変更する</button>
          <button @click.self="closePopup('CommunityMember')">閉じる</button>

        </div>
      </div>



      <!-- スレッドの新規作成 -->
      <button type="button" @click="openPopup('ThreadAdd')">スレッドの新規作成</button>
      <div v-if="isThreadAddPopup" class="popup-overlay" @click.self="closePopup('ThreadAdd')">
        <div class="popup">
          <h1>スレッド新規作成</h1>
          <p>スレッド名(店名)：<input type="text" v-model="addThreadTitle"> <!-- String threadName;と対応させる --></p>
          <p>フリガナ：<input type="text" v-model="addThreadFurigana"></p>
          <p>お店の住所：<input type="text" v-model="addThreadAddress"></p>
          <p>営業時間：<input type="text" v-model="addThreadSalesTime"></p>
          <p>ジャンル：
            <select v-model="addThreadGenre">
              <option value="和食" selected>和食</option>
              <option value="中華">中華</option>
              <option value="イタリアン">イタリアン</option>
            </select>
          </p>
          <p>ハッシュタグ：<input type="text" v-model="addThreadHashtags" @input="updateSuggestions('addThreadHashtags')"></p>
          <div v-if="isaddThreadHashtagsSuggest" class="suggest-area">
            <ul>

              <li v-for="suggestion in suggestions" :key="suggestion" class="suggest-content">
                <a @click="selectSuggestion(suggestion)">{{ suggestion }}</a>
              </li>
            </ul>
          </div>
          <button @click.self="addThread">作成</button>
          <button @click.self="closePopup('ThreadAdd')">閉じる</button>
        </div>
      </div>

      <!-- スレッドの統合 -->
      <button type="button" v-if="sessionInfo.role ===2" @click="integrateThread">スレッドの統合</button>
      <div v-if="isIntegrateThreadsPopup" class="popup-overlay" @click.self="closePopup('IntegrateThreads')">
        <div class="popup">
          <h1>スレッド統合（採用するお店の情報を選択してください。）</h1>
          <p>スレッド名(店名)：
            <select v-model="selectedThreadName">
              <option v-for="thread in selectedThreads" :value="thread.title" :key="thread.id" selected="selected">
                {{thread.title}}
              </option>
            </select>
          </p>
          <p>フリガナ：
            <select v-model="selectedThreadFurigana">
              <option v-for="thread in selectedThreads" :value="thread.furigana" :key="thread.id">
                {{thread.furigana}}
              </option>
            </select>
          </p>
          <p>お店の住所：
            <select v-model="selectedThreadAddress">
              <option v-for="thread in selectedThreads" :value="thread.address" :key="thread.id">
                {{thread.address}}
              </option>
            </select>
          </p>
          <p>営業時間：
            <select v-model="selectedThreadSalesTime">
              <option v-for="thread in selectedThreads" :value="thread.sales_time" :key="thread.id">
                {{thread.sales_time}}
              </option>
            </select>
          </p>
          <p>ジャンル：
            <select v-model="selectedThreadGenre">
              <option v-for="thread in selectedThreads" :value="thread.genre" :key="thread.id">
                {{thread.genre}}
              </option>
            </select>
          </p>

          <p> ハッシュタグ：</p>
          <div v-for="thread in selectedThreads" class="hashtag-list">
            <div v-for="hashtag in thread.hashTagList">
              <p><input type="checkbox" name="hashTag" v-bind:value="hashtag.tag_name"
                  v-model="selectedThreadHashTag" />{{hashtag.tag_name}}</p>
            </div>
          </div>
          <button @click.self="ThreadIntegrate">統合する</button>
          <button @click.self="closePopup('IntegrateThreads')">閉じる</button>
        </div>
      </div>


      <!-- スレッドの表示。 -->
      <div v-for="thread in threads">
        <div class="restaurant" v-if="genreIncludeCheck(thread.genre)">
          <img src="restaurant-a.jpg" alt="飲食店A" class="restaurant-img">
          <div>
            <input type="checkbox" v-model="thread.isSelected" v-if="sessionInfo.role ===2">
            <a :href="getReviewLink(thread.id)" class="restaurant-name">
              <h3>{{thread.title}}</h3>
            </a>
            <div class="genre">ジャンル：{{thread.genre}}</div>
            <div class="address">住所：{{thread.address}}</div>
            <div class="likes">
              <button @click="goodDeal(thread.id)">いいね</button>
              <span>{{thread.good_count}}</span>
            </div>
            <div class="opening-hours">営業時間：{{thread.sales_time}}</div>
            <div class="hashtags">
              <ul v-for="hashtag in thread.hashTagList">
                <li>
                  <a href="#"> {{hashtag.tag_name}}</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="delete-update">
            <button type="button" @click="openUpdateThread(thread.id)">情報編集</button>
            <button type="button" v-if="thread.user_id == sessionInfo.id" @click="deleteThread(thread.id)">削除</button>

          </div>

        </div>
      </div>

      <div v-if="isThreadUpdatePopup" class="popup-overlay" @click.self="closePopup('ThreadUpdate')">
        <div class="popup">
          <h1>スレッド情報編集</h1>
          <p>スレッド名(店名)：<input type="text" v-model="updateThreadTitle"> <!-- String threadName;と対応させる --></p>
          <p>フリガナ：<input type="text" v-model="updateThreadFurigana"></p>
          <p>お店の住所：<input type="text" v-model="updateThreadAddress"></p>
          <p>営業時間：<input type="text" v-model="updateThreadSalesTime"></p>
          <p>ジャンル：
            <select v-model="updateThreadGenre">
              <option value="和食" selected>和食</option>
              <option value="中華">中華</option>
              <option value="イタリアン">イタリアン</option>
            </select>
          </p>
          <p>ハッシュタグ：<input type="text" v-model="updateThreadHashtags"></p>
          <button @click.self="updateThread">更新</button>
          <button @click.self="closePopup('ThreadUpdate')">閉じる</button>
        </div>
      </div>

    </div>

  </div>

  <script src="/js/base.js"></script>

  <script>
    // const { createApp } = Vue;

    createApp({
      data() {
        return {
          threads: [],
          showMenu: false,
          sessionInfo: [],
          sortKey: 'id',
          sortOrder: 'asc',
          communityName: '',
          communityId: '',
          communityUrl:'',

          //スレッド新規作成用
          isThreadAddPopup: false,
          addThreadTitle: '',
          addThreadFurigana: '',
          addThreadAddress: '',
          addThreadSalesTime: '',
          addThreadGenre: '和食',
          addThreadHashtags: '',

          //スレッド情報編集用
          isThreadUpdatePopup: false,
          updateThreadId: '',
          updateThreadTitle: '',
          updateThreadFurigana: '',
          updateThreadAddress: '',
          updateThreadSalesTime: '',
          updateThreadGenre: '',
          updateThreadHashtags: '',

          //コミュニティメンバー参照用
          isCommunityMemberPopup: false,
          communityMembers: [],
          newCommunityName:'',
          

          //コミュニティの統合用。
          isIntegrateThreadsPopup: false,
          selectedThreads: [],
          selectedThreadName: '',
          selectedThreadFurigana: '',
          selectedThreadAddress: '',
          selectedThreadSalesTime: '',
          selectedThreadGenre: '',
          selectedThreadHashTag: [],


          //検索
          refineView: false,
          genres: [],
          hashtags: [],
          isGenreCheck: false,
          GenreChecked: [],
          searchText: '',
          selectedOption: 'thread',

          //サジェスト用
          issearchTextSuggest:false,
          isaddThreadHashtagsSuggest:false,
          suggestions: [], // サジェストされるハッシュタグ
          existingHashTags: [],

          
        }


      },
      computed: {
        
      },


      methods: {
        getSessionInfo() {
          axios.get(`/getSessionInfo/${this.communityId}`)
            .then(res => {
              this.sessionInfo = res.data;
              console.log(this.sessionInfo);
              console.log(res.data);
            });

        },
        // スレッド情報の取得
        getThreads() {
          axios.get(`/getThreads/${this.communityId}`)
            .then(res => {
              this.threads = res.data;
              console.log(this.threads);
            });
        },

        //commonjsのやつ。
        toggleMenu() {
          this.showMenu = !this.showMenu;
        },
        //いいねボタン押された時の挙動
        goodDeal(id) {
          //言い値テーブルへの制御はjavaで行っているので、
          //その処理が終わったらgetThreadsメソッドをすればおっけー。
          axios.get(`/goodDeal/${id}`)
            .then(res => {
              this.getThreads();
            });
        },


        deleteThread(threadId) {
          axios.delete(`/deleteThread/${threadId}`)
            .then(res => {

              console.log(res.data);
              const result = res.data;
              if (result === true) {
                this.getThreads();
              } else {
                alert('レビューが１件以上存在するため、スレッドを削除できません。')
              }

            });
        },

        //スレッドの並び替えonclickで並び替えたいキーの名前を入れる。
        sortItems(key) {

          const modifier = this.sortOrder === 'asc' ? 1 : -1;
          this.threads.sort((a, b) => {
            if (key === 'id') {
              return (b.id - a.id) * modifier;
            } else if (key === 'good_count') {
              return (b.good_count - a.good_count) * modifier;
            }
            return 0;
          });
        },

        openPopup(popupName) {
          this[`is${popupName}Popup`] = true;
        },
        closePopup(popupName) {
          // this.isPopup = false;
          this[`is${popupName}Popup`] = false;
        },
        addThread() {
          console.log('addThread');
          if (this.addThreadTitle == '') {
            alert('お店の名前は必須入力です')
          } else {
            const addInfo = {
              threadName: this.addThreadTitle,
              furigana: this.addThreadFurigana,
              address: this.addThreadAddress,
              salesTime: this.addThreadSalesTime,
              genre: this.addThreadGenre,
              hashtag: this.addThreadHashtags,
              communityId: this.communityId
            }
            if (this.addThreadHashtags.trim() == '') {
              addInfo.hashtag = null
            }

            axios.post('/thread-add', addInfo)
              .then(res => {
                this.getThreads();
                this.closePopup('ThreadAdd');
              });
          };

        },

        openUpdateThread(threadId) {

          this.openPopup('ThreadUpdate');
          const targetThread = this.threads.find(thread => thread.id === threadId);
          console.log(targetThread);
          this.updateThreadId = threadId;
          this.updateThreadTitle = targetThread.title;
          this.updateThreadFurigana = targetThread.furigana;
          this.updateThreadAddress = targetThread.address;
          this.updateThreadSalesTime = targetThread.sales_time;
          this.updateThreadGenre = targetThread.genre;
          this.updateThreadHashtags = targetThread.hashtags;


        },
        updateThread() {
          if (this.updateThreadTitle == '') {
            alert('お店の名前は必須入力です')
          } else {
            const updataInfo = {
              threadName: this.updateThreadTitle,
              furigana: this.updateThreadFurigana,
              address: this.updateThreadAddress,
              salesTime: this.updateThreadSalesTime,
              genre: this.updateThreadGenre,
              hashtag: this.updateThreadHashtags
            }

            axios.put(`/updateThread/${this.updateThreadId}`, updataInfo)
              .then(res => {
                this.getThreads();
                this.closePopup('ThreadUpdate')
              });
          };

        },
        getCommunityMember() {
          this.openPopup('CommunityMember');
          this.newCommunityName =this.communityName;
          axios.get(`/getCommunityMember/${this.communityId}`)
            .then(res => {
              this.communityMembers = res.data;
            });

        },

        // 管理者の、変更適用ボタンのメソッド。メンバーの退会と権限の編集
        applyChenge() {
          axios.put(`/memberSetting/${this.communityId}`, this.communityMembers)
            .then(res => {
              axios.put(`/updateCommunityName/${this.communityId}/${this.newCommunityName}`)
              .then(res =>{
                this.getCommunityMember();
                
                console.log(this.communityName);
                this.closePopup('CommunityMember');
            })
            this.communityName =this.newCommunityName;
            });
          
          

        },
        //コミュニティ削除
        deleteCommunity() {
          if (window.confirm(`${this.communityName}を本当に削除してもよいですか？`)) {
            if (window.confirm('後悔しませんか?')) {
              axios.delete(`/deleteCommunity/${this.communityId}`)
                .then(res => {
                  window.location.href = "http://localhost:8080/kuchannel/mypage";
                });
            }
          }
        },
        //スレッド統合のページ開く
        integrateThread() {
          this.selectedThreads = this.threads.filter(thread => thread.isSelected === true);
          if (this.selectedThreads.length < 2) {
            alert('統合したいスレッドを少なくとも2つ以上選んでください')
          } else {
            const target = this.selectedThreads[0];
            this.selectedThreadName = target.title;
            this.selectedThreadFurigana = target.furigana;
            this.selectedThreadAddress = target.address;
            this.selectedThreadSalesTime = target.sales_time;
            this.selectedThreadGenre = target.genre;
            this.openPopup('IntegrateThreads');

          }
        },
        //スレッド統合の処理
        ThreadIntegrate() {

          //ハッシュタグを、java側で追加しやすいように成形
          const hashtagForPost = Object.values(this.selectedThreadHashTag).join(',').replace(/#/g, "");
          console.log(hashtagForPost);

          //統合するスレッドのidをjavaに送る準備
          let integrateThreadId = []
          for (let i = 0; i < this.selectedThreads.length; i++) {
            integrateThreadId.push(this.selectedThreads[i].id)
          };
          const integrateThreadIdForPost = Object.values(integrateThreadId).join(',');

          //受け取った統合情報をセットする。
          const integrateInfo = {
            threadName: this.selectedThreadName,
            furigana: this.selectedThreadFurigana,
            address: this.selectedThreadAddress,
            salesTime: this.selectedThreadSalesTime,
            genre: this.selectedThreadGenre,
            hashtag: hashtagForPost,
            integrateThreadId: integrateThreadIdForPost,
            communityId: this.communityId
          };
          if (hashtagForPost.trim() == '') {
            integrateInfo.hashtag = null;
          };
          //axiosにput。
          axios.put('/IntegrateThreads', integrateInfo)
            .then(res => {
              this.getThreads();
            });

        },

        //スレッドのレビュー一覧に遷移
        // getThreadReviewLink(threadId) {
        //   return `/thread-review/${threadId}`;
        // },

        //絞り込みリストを表示
        changeRefineView() {
          this.refineView = !this.refineView;
        },

        //スレッドのジャンル一覧を取得
        getGenres() {
          axios.get('/getGenres')
            .then(res => {
              this.genres = res.data;
            });
        },

        //スレッドの人気のハッシュタグを取得
        getPopularHashtags() {
          axios.get(`/getPopularHashtags/${this.communityId}`)
            .then(res => {
              this.hashtags = res.data;
            });
        },
        getAllHashtags(){
          axios.get(`/getAllHashtags/${this.communityId}`)
            .then(res => {
              this.existingHashTags = res.data;
              console.log(this.existingHashTags);

            });
          
        },

        //ジャンルの絞り込みチェック
        genreIncludeCheck(genreName) {
          if (this.GenreChecked.length === 0) {
            return true;
          }

          for (var genre of this.GenreChecked) {
            if (genreName == genre) {
              return true;
            }
          }
          return false;

        },

        //検索バーにハッシュタグを追加
        searchAdd(hashtag) {
          this.searchText += ' #' + hashtag + ' ';
        },

        //検索処理
        find(searchText) {
          if (this.selectedOption === 'thread') {
            // スレッドを検索する処理
            axios.get(`/keywordThreads/${this.communityId}`, {
              params: {
                keyword: searchText
              }
            })
              .then(res => {
                this.threads = res.data;
                // ここからハッシュタグの順に並べる処理
                this.sortData();

                

              });

          } else if (this.selectedOption === 'review') {
            // 全レビューを検索する処理
            // 例: this.searchText を使用して全レビューを検索する
          }
        },
        
        //ハッシュタグの多い順に並べ替える処理
        sortData(){
          console.log('sortData');
          const regex = /[＃#][^\s＃#]+/g;
          const matches = this.searchText.match(regex);
          if(matches !== null){
            const searchTagsArray = matches.map(match => match.replace(/^[＃#]/, '#'));
            console.log('searchArray',searchTagsArray);
            this.threads.sort((a, b) => {
            const aMatchCount = this.getMatchCount(a.hashTagList, searchTagsArray);
            const bMatchCount = this.getMatchCount(b.hashTagList, searchTagsArray);
            console.log('aMatch',aMatchCount);
            console.log('bMatch',bMatchCount);
            if(aMatchCount > bMatchCount){
              return -1;
            }
            if(aMatchCount < bMatchCount){
              return 1;
            }
            return 0;
            });
          }
        },

        getMatchCount(hashTags, searchTagsArray) {
          let count = 0;
          for (const hashTag of hashTags) {
            if (searchTagsArray.includes(hashTag.tag_name)) {
            count++;
            }
          }
          return count;
        },

        updateSuggestions(inputAreaName) {
          this.suggestions = []; // サジェストをリセット
          
          // テキストを解析してハッシュタグを検索
          const words = this[`${inputAreaName}`].split(" ");
          if(words.length > 0){
            this.isaddThreadHashtagsSuggest =false
            this.issearchTextSuggest =false
            this[`is${inputAreaName}Suggest`] =true;
          }
          const lastWord = words[words.length - 1]; // 最後の単語を取得

          if (lastWord.startsWith("#") || lastWord.startsWith("＃")) {
            const inputTag = lastWord.substring(1); // "#"を除いた部分を取得
            //「#」だけの時にはサジェストが出ない
            if(!inputTag == ''){
              // 既存のハッシュタグから入力と合致するものを検索
              for(let i=0; i<this.existingHashTags.length; i++){
              this.suggestions.push(this.existingHashTags[i].tag_name)
              }
              this.suggestions = this.suggestions.filter(tag =>tag.includes(inputTag));
              this.suggestions =this.suggestions.map(item => "#"+ item +" ");
            }            
          }
        },
        removeEmptyStrings(value) {
          return value !== '';
        },
        selectSuggestion(suggestion) {
          const words0 = this.searchText.split(" ").join("　").split("　"); // スペースで分割し、全角スペースでも分割する
          const words = words0.filter(this.removeEmptyStrings); // 空の文字列を削除する

          let lastWord = words[words.length - 1]; // 最後の単語を取得

          if (lastWord.startsWith("#")|| lastWord.startsWith("＃")) {
            // 最後の単語がハッシュタグで始まっている場合は削除
            words.splice(-1, 1);
          }

          let newArray = words.filter(this.removeEmptyStrings);
          newArray.push(suggestion); // サジェストを追加

          this.searchText = newArray.join(" ") + " "; // 入力欄にサジェストを追加
          this.suggestions = []; // サジェストをリセット
        },

        getReviewLink(threadId){
          const link = this.communityUrl.replace("http://localhost:8080/","");
          return `http://localhost:8080/${link}/${this.communityId}/threads/${threadId}/reviews`;
        }
        
        
  

      },
      

      created: function () {
        console.log("created");
        this.communityName = `[[${communityName}]]`;
        this.communityId = `[[${communityId}]]`;
        this.communityUrl = `[[${communityUrl}]]`;
        console.log(this.communityId, this.communityName);
        this.getThreads();
        this.getSessionInfo();
        this.getGenres();
        this.getPopularHashtags();
        this.getAllHashtags();
        

      }

    }).mount('#app')


    function uncheakRadiobutton() {
      console.log("来たよ")
      let radioButtons = document.getElementsByName("sortSelect");
      for (var i = 0; i < radioButtons.length; i++) {
        radioButtons[i].checked = false;
      }
    }

  </script>



</body>

</html>